# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Code::Block files
*.cbp
*.layout
*.depend

# This skips all the linker stuff
External/
bin/

#Main build ignore
VS/